<html>
<body>
<p>Please reset your password</p>
<p>Hi, <%= @user.full_name %> Please reset your password</a>
Please click on the link below to reset your password</p>
<p> <%= link_to "Reset Password", password_reset_url(@user.token) %></p>
</body>
</html>
