<html>
<body>
<p>Welcome to MyFlix: Your source of latest movies online!</p>
<p>Congratulations you just signed up for the most amazing thing on the internet! However, please do note that this is my practice app and nothing real happens here.</a></p>
</body>
</html>