<html>
<body>
<p>Welcome to MyFlix: Your source of latest movies online!</p>
<p>Your login email address is <%= @user.email %>, please <a href="">click here to go to MyFlix.com</a></p>
</body>
</html>